{% extends 'base.html.twig' %}

{% block title %}Blague{% endblock %}

{% block body %}

<div class="container">
    <h1>Blague</h1>

    <a href="{{ path('app_joke_index') }}" class="btn btn-primary my-4">Voir toute les blagues</a>


    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Categorie</th>
                <th scope="col">Blague</th>
                <th scope="col" class="d-flex justify-content-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ joke.id }}</td>
                <td>{{ joke.category }}</td>
                <td>{{ joke.text }}</td>
                <td class="d-flex justify-content-center">
                    <a href="{{ path('app_joke_edit', {'id': joke.id}) }}"><i class="fa-solid fa-pen-to-square" style="color: #f5d152;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endblock %}
